In [ ]:
conda show pandas

In [3]:
import pandas as pd
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], columns=['A','B','C'])

In [4]:
df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [20]:
df.sample(2)

   A  B  C
2  7  8  9
0  1  2  3

In [8]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

In [9]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 204.0 bytes

In [12]:
df.head(1)

   A  B  C
0  1  2  3

In [14]:
df.tail(1)

   A  B  C
2  7  8  9

In [5]:
df.describe()

         A    B    C
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

In [7]:
df.nunique()

A    3
B    3
C    3
dtype: int64

In [15]:
df['A'].unique

<bound method Series.unique of 0    1
1    4
2    7
Name: A, dtype: int64>

In [16]:
df.shape

(3, 3)