In [12]:
conda install fastparquet

Channels:
 - defaults
Platform: win-64
Collecting package metadata (repodata.json): done
Solving environment: done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [21]:
import pandas as pd
coffee = pd.read_csv('coffee.csv')
coffee

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

<h3>Accessing data | .loc() & iloc()</h3>

<h5 style='color:green;'>.loc()</h5>

In [27]:
# used to select rows and columns by name (not by number).
coffee.loc[[0,1,5], ['Day']]
# coffee.loc[0:33]
# coffee.loc[5:12]

         Day
0     Monday
1     Monday
5  Wednesday

<h3>Setting DataFrame Values | w/loc() & iloc()</h3>

<h3>Accessing Single Values | .at() & .iat()</h3>

<h3>Accessing Data | Grab Columns, Sort Values, Ascending/Descending</h3>

<h3>Iterating over a DataFrame (df) with a For Loop   df.iterrows()</h3>

<h3>Filtering Data | Syntax Options, Numeric Values, Multiple Conditions</h3>

<h3>Filtering Data | String Operations, Regular Expressions(Regex)</h3>

<h3>Filtering Data | Query Functions</h3>

<h3>Adding / Removing Columns | Basics, Conditional Values, Math Operations, Renaming Columns</h3>

<h3>Adding / Removing Columns | String Operations, Datetime (pd.to_datetime) Operations</h3>

<h3>Saving our Updated DataFrame (df.to_csv, df.to_excel, df.to_parquet, etc)</h3>

<h3>Adding / Removing Columns | Using Lambda & Custom Funtions w/ .apply()</h3>

<h3>Merging & Concatebating Data | pd.merge(), pd.concat(), types of joins</h3>

<h3>Handling Null Values(NaNs) | .fillna() .interpolate() .drop() .isna() .notna()</h3>

<h3>Aggregating Data | value_counts()</h3>

<h3>Aggregating Data | Using Groupby - groupby() .sum() .mean() .agg()</h3>

<h3>Aggregating Data | Pivot Tables</h3>

<h3>Groupby combined with Datetime Operations</h3>

<h3>Added Functionality | .shift() .rank() .cumsum() .rolling()</h3>

<h3>New Functionality | Pandas 1.0 vs Pandas 2.0 pyarrow</h3>

In [ ]:
O

In [ ]:
results = pd.read_parquet('results.parquet')
results